
.icon-align-justify:before { content: '\e886'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-gplus:before { content: '\f0d5'; } /* '' */
.icon-facebook-1:before { content: '\f30c'; } /* '' */
